# 用于搜索和分析的API密钥
TAVILY_API_KEY=

# 默认的OpenAI API配置
OPENAI_API_BASEURL=
OPENAI_API_KEY=
OPENAI_MODEL=

# Langfuse配置
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL=
LANGFUSE_TAGS=
LANGFUSE_USER=
